@import "tailwindcss";

@font-face {
    font-family: 'Bebas Neue';
    src: url('fonts/BebasNeue-Regular.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('fonts/Gilroy-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Russo One';
    src: url('fonts/RussoOne-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.bebas-neue-regular {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
}

/* Применяем шрифт только к элементам с классом font-bebas */
.font-bebas {
    font-family: 'Bebas Neue', sans-serif !important;
}

.font-gilroy {
    font-family: 'Gilroy', sans-serif;
}

.font-russo {
    font-family: 'Russo One', sans-serif;
}

body {
    @apply font-sans;
    /* Используем системный шрифт по умолчанию */
}